* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('images/Worship-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0b48c;
    text-align: center;
    min-height: 100vh;
}

@media (max-width: 1400px) {

    body {
        background-position: 76% 50%;
    }

}

h1 {
    padding-top: 40px;
    font-size: 60px;
    padding-bottom: 40px;
}

h2 {
    font-size: 40px;
    padding: 20px 0 30px 0;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

main > a {
    text-decoration: none;
    color: #9fc06c;;
    margin: 0 auto 30px auto;
    font-size: 22px;
}

.home-page {
    text-decoration: none;
    color: #f0e68c;
    font-size: 20px;
    margin: 0 auto 0 auto;
    font-size: 22px;
}

.home-page:hover {
    font-weight: bold;
}

main > a:hover {
    color: #9fc06c;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.song-link {
    font-size: 22px;
    color: #9fc06c;
}

.song-link:hover {
    font-weight: bold;
}